label.form-label {
    margin-bottom: 2px;    
}
/* App Window */
.card-body {
    height: 320px;
}
.settings {
    padding: 8px;
    float: right;
}
.settings #cancel-button {
    margin-right: 8px;
}
.settings #help-button {
    float: left;
    position: fixed;
    left: 8px;
}

/* Security */
.info {
    margin-bottom: 8px;
}
#options {
    position: relative;
}
#waiting-security, #dg-security {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* System */
.inline-btns a.w-50 {
    width: calc(50% - 4px) !important;
}
.inline-btns a.w-50:first-child { 
    margin-right: 8px;
}
.badge {
    margin: 2px 0;
    width: 86px;
}
#system, #status-parent {
    position: relative;
}
#waiting-system, #dg-system, #status-waiting, #status-server {
    position: absolute;
    width: 100%;
    height: 100%;
}
#status-waiting {
    margin-top: -64px;
}
#tabs-system-ex2 .mb-3 {
    padding: 0 30px;
}
#cert-instructions {
    padding-top: 4px;
}
#cert-instructions span {
    display: block;
}

/* About */
#tabs-about-ex2 .mb-3 {
    text-align: center;
    padding: 40px;
}

/* License */
#license {
    height: 302px;
    margin: -5px -15px;
    padding: 8px;
    overflow-y: scroll;
    border: 1px solid var(--tblr-tabler-lt);
}